# List, Tuple, Set, Dictionary :

## Types of objects in Python :

#####1. Immutable Objects
#####2. Mutable Objects

##1 Immutable Objects:
1. int

2. float

3. string

4. bool

5. tuple

##2 Mutable Objects :
1. List
2. Set
3. Dictionary

# List

In [16]:
list_ = [1,2,3,4,5]
print(list_)
type(list_)

[1, 2, 3, 4, 5]

list

In [17]:
list_=["Mohamed", 4, 5.82, True]
print(list_)

['Mohamed', 4, 5.82, True]

In [18]:
# add elements to a list

list_ = ["Mohamed", 4, 5.82, True]
list_.append("Naimi")
print(list_)#['Mohamed', 4, 5.82, True, 'Naimi']
print(list_[2]) #5.82

# --> lists allow duplicate values:
list_1 = [1,2,1,2];
print(list_1)

# list size:
print(len(list_1))

# initiating an empty list

list_2 = []
list_2.append(20)
print(list_2)

['Mohamed', 4, 5.82, True, 'Naimi']
5.82
[1, 2, 1, 2]
4
[20]

In [19]:
# delete an item in a list
list_1 = ["Mohamed", 5, 7, "Naimi"]
print(list_1)
del list_1[2]
print(list_1)

['Mohamed', 5, 7, 'Naimi']
['Mohamed', 5, 'Naimi']

In [20]:
# join two list
list_1 = [1, 2, 3, 4, 5]
list_2 = [6, 7, 8, 9, 10]
list_3 = list_1 + list_2
print(list_3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Tuple

In [15]:
tuple_1=(1,2,3,4)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4)

tuple

In [21]:
tuple_=("Mohamed", 4, 5.82, True)
print(tuple_)

('Mohamed', 4, 5.82, True)

In [25]:
# converting a list to a tuple

my_list = [10,45,50]
print(my_list)
myTuple = tuple(my_list)
print(myTuple)
type(myTuple)

print(myTuple[0])
print(myTuple[2])

[10, 45, 50]
(10, 45, 50)
10
50

In [28]:
# Tuple are Immutable -> Unchangeable
tuple_1=(1,2,3,4)
#tuple_1.append(4) # this will throw an error

print(len(tuple_1))

4

#  Set

In [33]:
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

# set does not support indexing :
#print(my_set[5])

{1, 2, 3, 4, 5}

set

In [31]:
# convert a list or a tuple  to a set:
list_5 = [10,8,20]
tuple_5 = (80,20)
set_1 = set(list_5)
set_2 = set(tuple_5)
print(set_1)
print(set_2)

{8, 10, 20}
{80, 20}

In [32]:
# Unlike tuples or lists, sets do not allow duplication.
set_3 = {1,1,1,5,5,7}
print(set_3)#{1, 5, 7}

{1, 5, 7}

# Dictionary
Key-Value Pair

In [38]:
my_dictionary = {"name": "Mohamed", "age":20 ,"email":"mohamed@gamil.com"}
print(my_dictionary)
type(my_dictionary)
print(len(my_dictionary))

print(my_dictionary["name"])
print(my_dictionary["age"])
print(my_dictionary["email"])

{'name': 'Mohamed', 'age': 20, 'email': 'mohamed@gamil.com'}
3
Mohamed
20
mohamed@gamil.com

In [41]:
# like sets Dictionary do not allow duplication.

dictionnaire = {"name": "Mohamed", "age":20 ,"email":"mohamed@gamil.com","name": "Mohamed", "age":20 ,"email":"mohamed@gamil.com"}
print(dictionnaire)
type(dictionnaire)

{'name': 'Mohamed', 'age': 20, 'email': 'mohamed@gamil.com'}

dict