# Loops in Python

## For loop

In [4]:
#laptop = int(input("Enter the price of the laptop: "))
for i in range(4):
  laptop_price = int(input("Enter the price of the laptop: "))

Enter the price of the laptop: 20
Enter the price of the laptop: 50
Enter the price of the laptop: 30
Enter the price of the laptop: 1

In [7]:
numbers = [50,100,150,200]
for i in range(len(numbers)):
  print(numbers[i])

for j in numbers:
  print(j)

50
100
150
200
50
100
150
200

## While Loop

In [13]:
i = 0;
while i < 10:
 print(i)
 i+=1

0
1
2
3
4
5
6
7
8
9